.field {
  display: grid;
  gap: 0.25rem;
  grid-auto-flow: column;
  background-color: black;
  outline: 1px solid grey;
  outline-offset: 5px;

  * {
    user-select: none;
  }
}

.flask {
  grid-area: 1 / 2 / -1 / -2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  &.highlight {
    outline: 5px solid blue;
    outline-offset: -5px;
    cursor: pointer;
  }

  &.wrong {
    outline: 5px solid red;
    outline-offset: -5px;
    cursor: not-allowed;
  }
}

.flask,
.molecule {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;

  &[aria-disabled="true"] {
    cursor: not-allowed !important;
  }
}

.molecule {
  color: red;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;

  &.highlight {
    outline: 5px solid gray;
    outline-offset: -5px;
  }

  &.highlightBlue {
    outline: 5px solid blue;
    outline-offset: -5px;
    cursor: pointer;
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
  }

  &.done {
    outline: 5px solid green;
    outline-offset: -5px;
    opacity: 1;
  }
}
