.main {
  display: grid;
  grid-template-rows: auto 1fr auto;

  &.done {
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }
}

.field {
  margin-block: 1rem;
}

.control {
  display: flex;

  > * {
    flex: 1;
  }
}

.task {
  height: 4rem;
  font-size: 2rem;
  text-align: center;
}
